@use "../Fonts/fonts" as *;
@use "../Helpers/Variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $Pure-Navy;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
