$Pure-Navy: #07071c;
$Light-Navy: #121228;
$Sec-color: #02e0b8;
$White: #fff;
$Sec-Gradient: linear-gradient(
  120deg,
  rgba(2, 5, 36, 1) 0%,
  rgba(2, 34, 101, 1) 64%,
  rgba(0, 50, 153, 1) 100%
);
$Main-Gradient: linear-gradient(135deg, #0a89ff 0%, #02e0b8 100%);

$transition: 0.4s;
